
span.ddb-grandparent {
  position: relative;
}
span.ddb-parent {
  position: absolute;
  background: white;
  border: 1px solid gray;
  top: 5px;
  padding: 4px;
  border-radius: 2px;
}
span.ddb-grandparent[shown="false"] { display: none }