<div class="pagelet file-search-component">
  -:[/pagelets/pagelet-header.html]:-
  <title>Search -[arg-directory]-</title>
  <div><input class="directory" type="text" placeholder="Directory to search from" value="-[arg-directory]-"></div>
  <div>Search subdirectories? <input class="subdirs" type="checkbox"></div>
  <div><input class="query" type="text" placeholder="Search query"></input></div>
  <div><button is="call-resource-button" srcfn="/pagelets/components/search-directory.mjs: searchAndPopulate" class="linklike">Search</button></div>
  <div class="results">
    <!-- Procedurally populated -->
  </div>
</div>