

.controller-frame {
  border: 1px solid var(--controller-frame-border-color, gray);
  box-shadow: 0px 0px 4px darkgray;
  padding: 3px;
  margin: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: auto;
  height: fit-content;
  overflow: visible;
}

.controller-frame > .infobar  {
  background: var(--infobar-background, rgba(72, 151, 254, 0.481));
  border-bottom: 1px solid var(--infobar-border-color, rgba(128, 128, 128, 0.09));
  margin-bottom: 4px;
  font-size: 0.85em;
}

.controller-frame[data-color="red"   ] { outline: 4px solid red   }
.controller-frame[data-color="blue"  ] { outline: 4px solid blue  }
.controller-frame[data-color="green" ] { outline: 4px solid green }

.controller-frame > .infobar > button:first-of-type {
  margin-left: 0.25em
}

.controller-frame > .infobar > button {
  padding: 1px;
  border: none;
}
.controller-frame > .infobar .filename {
  color: var(--light-text-color, rgb(140, 140, 140))
}

.controller-frame           > .infobar > button.expander::after { content: "Expanded";  }
.controller-frame.collapsed > .infobar > button.expander::after { content: "Collapsed"; }

.controller-frame.collapsed > *:not(.infobar) { display: none; }

.controller-frame.collapsed { height: unset !important }

.controller-frame#controller-frame-drop-target {
  outline: 1px solid orange
}
.controller-frame.dragged-controller-frame {
  opacity: 75%
}

.controller-frame > .infobar > .drag-handle {
  user-select: none;
}

.controller-frame.resizable > .child-container {
  overflow-x: hidden;
  overflow-y: auto;
  resize: vertical;
}

.controller-frame.resizable > .child-container {
  padding-bottom: 8em;
}

.controller-frame:not(.resizable) > .child-container {
  height: fit-content !important
}

.controller-frame + .controller-frame {
  border-top: 4px solid var(--controller-frame-border-color, rgba(0, 0, 0, 10%));
}


.controller-frame.drop-hovered {
  outline: 1px solid orange
}
.controller-frame.drop-hovered.top-hovered::before {
  content: 'Drop';
  color: orange;
}
.controller-frame.drop-hovered.bottom-hovered::after {
  content: 'Drop';
  color: orange;
}