

*[data-contenttype="text/markdown"] > *:first-child {
  margin-top: 0
}
*[data-contenttype="text/markdown"] > *:last-child {
  margin-bottom: 0
}

.just-added {
  animation: fade-in .2s ease; 
}

@keyframes fade-in {
  0%   {opacity: 0%}
  100% {opacity: 100%}
}

.highlighted {
  outline: 1px solid lightblue;
  background: rgb(96, 231, 240, 50%);
}

/* -------------------------- */
/* ----Default styling ------ */

button {
  border: none;
  background: unset;
  color: blue;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 0;
}
button:hover {
  text-decoration: underline blue;
}